/* Hero.css */
@import url('https://fonts.googleapis.com/css?family=Montserrat:700');

@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

/* Dashboard overlay text */
.das {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2em;
    z-index: 1000;
    /* Ensures it's above the background */
}




.ddd {
    flex-direction: column;
    padding-top: 5px;
    margin-top: 5px;
}



.ppp {
    margin-top: 20px;
}

.nostyle {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.7rem;
}

.txp{
    font-family: 'Montserrat', sans-serif;
}

.nos {
    padding: 0;
}

@media (max-width: 768px) {


    .ppp .card-body{
        padding: 5px;
    }
    

    .ppp {
        margin-top: 15px;
    }

    
}

@media (max-width: 500px) {
    .ddd .txp {
        font-size: 90%;
    }
    .hea h1{
        font-size: 1.5rem;
    }

    .nostyle {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 2rem;
    }

    
    
}

.kkk:hover {
    animation-play-state: paused;
   cursor: pointer;

}
