

 /* Parent container styling */
 .statistics {
   position: relative;
   overflow: hidden;
   white-space: nowrap;
   width: 100%;
   background-color: #f8f9fa;
   border-radius: 8px;
   box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.1);

 }
 .statisticsB {
   position: relative;
   overflow: hidden;
   white-space: nowrap;
   width: 100%;
   
   border-radius: 8px;
   box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.1);

 }

 /* Scrolling content animation */
 .scrolling-content {
   display: inline-block;
   animation: scroll-left 20s linear infinite;
   /* Adjust duration for speed */
 }

 .scrolling-stack {
   display: flex;
   align-items: center;
   gap: 10px;
 }

 /* Keyframe for infinite scrolling */
 @keyframes scroll-left {
   0% {
     transform: translateX(100%);
     /* Start offscreen to the right */
   }

   100% {
     transform: translateX(-100%);
     /* End offscreen to the left */
   }
 }

 .statistics:hover .scrolling-content {
   animation-play-state: paused;
   cursor: pointer;
 }
 
 

 

 /* Center the card in the viewport */
 .post-container {
   display: flex;
   flex: 2; /* Take remaining space */
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding-top: 0; 
 }

 .post-card {
  padding-top: 0px;
   width: 100%;
   max-width: 500px;   
   margin: auto;
   padding: 15px;
   
 }

 .post-card:hover {
   transform: scale(1.05);
   
   /* Slight scaling on hover */
 }

 .userCon {
   width: 100%;
   padding: 10px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
   border-radius: 8px;
 }
 .userCon:hover {
  border-color: blueviolet;
 }

 .card-img-top {
   /* width: 100%; */
   max-height: 300px;
   object-fit: cover;   /* Maintain the aspect ratio */
 }

 /* Responsive Design */
 @media (max-width: 576px) {
  #fPage{
    padding-top: 30px;

  }
   .post-card {
     max-width: 97%;     
     padding: 10px;     /* Smaller card for mobile */
   }
   .card-img-top {
    width: 300px;
    max-height: 200px;
    object-fit: cover;   /* Maintain the aspect ratio */
  }
 }

 /* Hide sidebars on smaller screens */
@media (max-width: 768px) {
  
  #fPage-right{
    display: none;
  }
  #fPage-left{
    display: none;
  }

 
  
}

 body {
   margin: 0;
   padding: 0;
   overflow-x: hidden;   /* Prevent horizontal scrollbar */
 }

 .basic-verify :hover {
  
  color: rgba(35, 35, 49, 0.596);
  transform: scale(1.1);
}


.c-ds {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@media (max-width: 676px) {
  .c-ds {
    justify-content: center;
    margin-top: 20px;
  }
  .c-ds > div {
    margin-right: 0;
  }
}
