/* user page / survey */
.displaySurvey h2, h4 {
    text-align: center; /* Center align titles */
  }
  
  .displaySurvey ul {
    list-style-type: none;
    padding: 0;
    margin: 10px auto;
    max-width: 600px; /* Limit width for better readability */
  }
  
  .displaySurvey li {
    margin: 10px 0;
    text-align: left;
  }
  
  .displaySurvey .answered-questions {
    margin: 0 auto;
    max-width: 800px; /* Center the content within the page */
    padding: 10px;
  }
  
  .btn-user{
    margin: 10px;
  }
  
  .btn:hover{
    transform: scale(1.1); /* Slightly enlarge the image on hover */
  }
  



.sticky-nav {
  position: sticky;
  top: 67px; /* Offset by the height of the top navbar */
  z-index: 1000; /* Ensure it's above content but below modal/dialog layers */
  background-color: rgb(255, 255, 255); /* Important if your page has a scrollable background */
}

.sticky-nav .nav-link:hover {
  background-color: #e2c0c0; /* Light gray background on hover */
  color: #063285; /* Optional: change text color on hover */
  transition: background-color 0.3s ease;
}


