


#bene .carousel-item img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Ensure the image takes full width of the carousel */
    height: 400px; /* Fixed height for uniformity */
    object-fit: cover; /* Ensure the image covers the area without distorting */
  }


  @media (max-width: 768px) {
    #bene .carousel-item img {
      height: 250px; /* Smaller height on mobile */
    }
  }
  
  

